{% extends 'base.html.twig' %}

{% block title %}Mon Compte{% endblock %}

{% block content %}
<h1>Mon Compte</h1>
<h2>Bienvenue {{ app.user.firstname }} dans votre compte.</h2><br/>
<p>C'est dans cet espace que vous allez pouvoir gérer toutes vos informations personnelles.</p>
<ul>
<li><a href="{{path('account_password')  }}"> Modifier mon mot de passe</a></li>
<li><a href="{{path('account_address')  }}"> Modifier mes adresses</a></li>
</ul>
{% endblock %}
